//Color palette
$grey-background: #232323;
$grey-alternate-background: #404040;
$grey-feature-border: #444444;
$white-text: #D5D5D5;
$blue-text1: #9DAFFF;
$blue-text2: #5067C2;

//Sizing
$keyFeatureHeight: 250px;
$keyFeatureWidth: 500px;
$bodyMargin: 8px;
$breakpoint: 2*$keyFeatureWidth + 2*$bodyMargin;

//Content
body {
  background-color: $grey-background;
  color: $white-text;
  font-family: Menlo, monospace;
  min-width: $keyFeatureWidth;
  margin: $bodyMargin;
  overflow-x: hidden;
  text-size-adjust: none;
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
}

p {
  margin: 0px;
}

#logo {
  padding-top: 40px;
  margin: auto;
  width: 100px;
}

h1, h2 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 1.6em;
  padding-bottom: 20px;
  color: #EFEFEF;
}

h2 {
  font-size: 1.4em;
  margin-top: 1em;
  color: $blue-text1;
}

h3 {
  font-size: 1.2em;
  margin-top: 1em;
  color: $blue-text2;
}

#description {
  max-width: 90%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#keyFeatures {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.keyFeature {
  border-bottom: $grey-feature-border 1px solid;
  padding-top: 10px;

  .featureImage,
  .featureDescription {
    min-width: $keyFeatureWidth;
    position: relative;
  }

  .featureDescription {
    margin-right: 10px;
    margin-left: 10px;
  }

  .featureImage {
    min-height: $keyFeatureHeight;

    img {
      margin: auto;
      position: absolute;
      left: 0;
      right: 0;
    }
  }
}

#howToStart {
  position: relative;
  padding-bottom: 200px;

  p {
    text-align: center;
  }

  .code {
    text-align: center;
    font-family: "Courier New", monospace;
    background-color: $grey-alternate-background;
    color: $white-text;
    margin: auto;
    max-width: 90%;
  }

  .linksBox {
    display: flex;
    justify-content: center;

    a {
      border: 1px solid white;
      padding: 5px;
      border-radius: 5px;
      width: 100px;
      color: $white-text;
      text-decoration: none;
      text-align: center;
      margin: 20px;
    }
  }
}

//Two columns
@media (min-width: $breakpoint) {

  h2 {
    margin-bottom: 30px;
  }

  .keyFeature {
    display: flex;
    justify-content: space-evenly;

    &:nth-of-type(even) {
      .featureImage {
        order: 1;
      }

      .featureDescription {
        order: 2;
      }
    }

    .featureImage,
    .featureDescription {
      max-width: 50%;
    }

    .featureImage {
      img {
        height: $keyFeatureHeight;
        width: $keyFeatureWidth;
      }
    }
  }

}

//Single column
@media (max-width: $breakpoint) {
  .keyFeature {
    display: block;

    .featureImage,
    .featureDescription {
      max-width: 90%;
      margin: auto;
    }

    .featureImage {
      margin-top: 25px;
      width: 90vw;
      height: 45vw;

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }

}

body:not(.mobile) {
  font-size: 14px;
  line-height: 25px;

  #description {
    width: 750px;
  }

  .keyFeature {
    text-align: left;
    padding-bottom: 10px;
  }

  .code {
    width: 250px;
  }
}

body.mobile {
  font-size: 38px;
  line-height: 56px;

  .keyFeature {
    text-align: center;
    padding-bottom: 70px;
  }

  .featureImage {
    margin-top: 70px;
  }
}